<div class="container centralizedElement">
    <div class="margin15p">
        <h3>Register from : {{register.REGISTERDAY | date:'MM-dd-yyyy'}}</h3>
    </div></br>
    <span class="btn btn-block btn-default noFocus " data-toggle="collapse" data-target="#breakFastData">Breakfast</span>
    <div class="collapse" id="breakFastData">
        <div class="well well-sm">
            Breakfast time</br>
            <input type="time" class="transparentElement margin10px" ng-model="register.BREAKFAST_TIME"/>
            Breakfast glicemic value</br>
            <input type="number" class="transparentElement margin10px" ng-model="register.BREAKFAST_VALUE"/>
            <button class="btn btn-block btn-success noFocus" data-toggle="collapse" data-target="#breakFastData" ng-click="updateBreakFast()">Update values</button>
        </div>
    </div></br>
    <span class="btn btn-block btn-default noFocus " data-toggle="collapse" data-target="#middleMorningData">Middle Morning</span>
    <div class="collapse" id="middleMorningData">
        <div class="well well-sm">
            Middle Morning lunch time</br>
            <input type="time" class="transparentElement margin10px" ng-model="register.MIDDLEMORNINGLUNCH_TIME"/>
            Middle Morning lunch glicemic value</br>
            <input type="number" class="transparentElement margin10px" ng-model="register.MIDDLEMORNINGLUNCH_VALUE"/>
            <button class="btn btn-block btn-success noFocus" data-toggle="collapse" data-target="#middleMorningData" ng-click="updateMiddleMorning()">Update values</button>
        </div>
    </div></br>
    <span class="btn btn-block btn-default noFocus " data-toggle="collapse" data-target="#lunchData">Lunch</span>
    <div class="collapse" id="lunchData">
        <div class="well well-sm">
            Lunch time</br>
            <input type="time" class="transparentElement margin10px" ng-model="register.LUNCH_TIME"/>
            Lunch glicemic value</br>
            <input type="number" class="transparentElement margin10px" ng-model="register.LUNCH_VALUE"/>
            <button class="btn btn-block btn-success noFocus" data-toggle="collapse" data-target="#lunchData" ng-click="updateLunch()">Update values</button>
        </div>
    </div></br>
    <span class="btn btn-block btn-default noFocus " data-toggle="collapse" data-target="#afternoonData">Afternoon</span>
    <div class="collapse" id="afternoonData">
        <div class="well well-sm">
            Afternoon lunch time</br>
            <input type="time" class="transparentElement margin10px" ng-model="register.AFTERNOONLUNCH_TIME"/>
            Afternoon lunch glicemic value</br>
            <input type="number" class="transparentElement margin10px" ng-model="register.AFTERNOONLUNCH_VALUE"/>
            <button class="btn btn-block btn-success noFocus" data-toggle="collapse" data-target="#afternoonData" ng-click="updateAfternoon()">Update values</button>
        </div>
    </div></br>
    <span class="btn btn-block btn-default noFocus " data-toggle="collapse" data-target="#dinnerData">Dinner</span>
    <div class="collapse" id="dinnerData">
        <div class="well well-sm">
            Dinner time</br>
            <input type="time" class="transparentElement margin10px" ng-model="register.DINNER_TIME"/>
            Dinner glicemic value</br>
            <input type="number" class="transparentElement margin10px" ng-model="register.DINNER_VALUE"/>
            <button class="btn btn-block btn-success noFocus" data-toggle="collapse" data-target="#dinnerData" ng-click="updateDinner()">Update values</button>
        </div>
    </div></br>


</div>