<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-eval';style-src 'self' 'unsafe-inline';img-src 'self' data:">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <title>GlicoData</title>

        <!--scripts-->
        <script src="lib/angularjs/angular.min.js"></script>
        <script src="lib/jquery/jquery-1.12.0.min.js"></script>
        <script src="lib/angular-animate/angular-animate.min.js"></script>
        <script src="lib/bootstrap/js/ui-bootstrap-tpls-1.1.2.min.js"></script>
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="lib/angular-ui-router/angular-ui-router.min.js"></script>
        <script src="lib/angular-chart/Chart.min.js"></script>
        <script src="lib/angular-chart/dist/angular-chart.min.js"></script>
        <script src="lib/pdfMaker/jspdf.min.js"></script>
        <script src="lib/pdfMaker/jspdf.plugin.autotable.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/app.js"></script>

        <!--services-->
        <script type="text/javascript" src="js/Services/DBService.js"></script>

        <!--controllers-->
        <script type="text/javascript" src="js/Controllers/indexController.js"></script>
        <script type="text/javascript" src="js/Controllers/registersListController.js"></script>
        <script type="text/javascript" src="js/Controllers/registerManagerController.js"></script>
        <script type="text/javascript" src="js/Controllers/registersChartsController.js"></script>
        <script type="text/javascript" src="js/Controllers/othersController.js"></script>

        <!--css-->
        <link rel="stylesheet" type="text/css" media="all" href="lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="all" href="lib/bootstrap/css/bootstrap-theme.css">
        <link rel="stylesheet" type="text/css" media="all" href="lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" media="all" href="lib/angular-chart/dist/angular-chart.min.css"/ />
        <link rel="stylesheet" type="text/css" media="all" href="css/app.css" />

        <!--loading for http-->
        <link rel='stylesheet' href='lib/load/loading-bar.min.css' type='text/css' media='all' />
        <script type='text/javascript' src='lib/load/loading-bar.min.js'></script>

        <!-- toastr -->
        <link rel='stylesheet' href='lib/angular-toaster/angular-toastr.min.css' type='text/css' media='all' />
        <script type='text/javascript' src='lib/angular-toaster/angular-toastr.min.js'></script>
        <script type='text/javascript' src='lib/angular-toaster/angular-toastr.tpls.min.js'></script>
    </head>
    <body ng-controller="indexController">
      <div class="navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">GlicoData</a>
        </div>
        <ul class="nav nav-tabs">
          <li class="active width33p"><a data-toggle="tab" href="#" ng-click="goToRM()">Registers</a></li>
          <li class="width33p"><a data-toggle="tab" href="#" ng-click="goToRC()">Charts</a></li>
          <li class="width33p"><a data-toggle="tab" href="#" ng-click="goToOT()">Others</a></li>
        </ul>
      </div>
        <div ui-view >

        </div>
    </body>
</html>
