<div class="container centralizedElement fr">

    <span class="btn btn-block btn-success noFocus glyphicon glyphicon-search margin3p" data-toggle="collapse" data-target="#searchFields"></span>
    <div class="collapse" id="searchFields">
        <div class="well well-sm">
            <div>
                Search by</br>
                <select class="transparentElement margin10px" ng-model="listView.SM">
                    <option value="SD">Specific date</option>
                    <option value="R">Range of dates</option>
                </select>
            </div>
            <div class="margin10px" ng-show="listView.SM == 'SD'">
                Search register of the specific date</br>
                <input type="date" class="transparentElement margin10px" min="{{listView.firstRegisterDate | date:'yyyy-MM-dd'}}" max="{{listView.actualDate | date:'yyyy-MM-dd'}}" ng-model="listView.specificDate"/>
                <button class="btn btn-block btn-success noFocus" data-toggle="collapse" data-target="#searchFields" ng-click="getRegister()">Go</button>
            </div>
            <div class="margin10px" ng-show="listView.SM == 'R'">
                Search register from</br>
                <input type="date" class="transparentElement margin10px" min="{{listView.firstRegisterDate | date:'yyyy-MM-dd'}}" max="{{listView.yesterday | date:'yyyy-MM-dd'}}" ng-model="listView.startDate"/>
                To</br>
                <input type="date" class="transparentElement margin10px" min="{{listView.startDate | date:'yyyy-MM-dd'}}" max="{{listView.actualDate | date:'yyyy-MM-dd'}}" ng-model="listView.endDate" ng-disabled="listView.startDate == null"/></br>
                <button class="btn btn-block btn-success noFocus" data-toggle="collapse" data-target="#searchFields" ng-click="getRangeOfRegisters()">Go</button>
            </div>
        </div>
    </div></br>
    <div class="table-responsive" ng-show="listView.registerArrays.length > 0">
        <table class="table table-striped">
            <th>Date of register</th>
            <th>Details</th>
            <th>Update</th>
            <tr ng-repeat-start="registerRow in listView.registerArrays track by registerRow.REGISTERDAY">
                <td>{{ registerRow.REGISTERDAY | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <span ng-if="!registerRow.expanded" class="btn btn-success noFocus glyphicon glyphicon-zoom-in" ng-click="registerRow.expanded = true"></span>
                    <span ng-if="registerRow.expanded" class="btn btn-success noFocus glyphicon glyphicon-zoom-out" ng-click="registerRow.expanded = false"></span>
                </td>
                <td><span class="btn btn-success noFocus glyphicon glyphicon-pencil" ng-click="manageRegister(registerRow)"></span></td>
            </tr>
            <tr ng-if="registerRow.expanded" ng-repeat-end="">
                <td colspan="3">
                    <div align="center">
                        <div>
                          Breakfast time</br>
                          <input type="time" class="transparentElement margin10px" ng-model="registerRow.BREAKFAST_TIME"/></br>
                          Breakfast glicemic value</br>
                          <input type="number" class="transparentElement margin10px" ng-model="registerRow.BREAKFAST_VALUE"/></br>
                          <button class="btn btn-block btn-success noFocus" ng-click="updateBreakFast(registerRow)">Update values</button>
                        </div>
                        <hr>
                        <div>
                          Middle Morning lunch time</br>
                          <input type="time" class="transparentElement margin10px" ng-model="registerRow.MIDDLEMORNINGLUNCH_TIME"/></br>
                          Middle Morning lunch glicemic value</br>
                          <input type="number" class="transparentElement margin10px" ng-model="registerRow.MIDDLEMORNINGLUNCH_VALUE"/></br>
                          <button class="btn btn-block btn-success noFocus" ng-click="updateMiddleMorning(registerRow)">Update values</button>
                        </div>
                        <hr>
                        <div>
                          Lunch time</br>
                          <input type="time" class="transparentElement margin10px" ng-model="registerRow.LUNCH_TIME"/></br>
                          Lunch glicemic value</br>
                          <input type="number" class="transparentElement margin10px" ng-model="registerRow.LUNCH_VALUE"/></br>
                          <button class="btn btn-block btn-success noFocus" ng-click="updateLunch(registerRow)">Update values</button>
                        </div>
                        <hr>
                        <div>
                          Afternoon lunch time</br>
                          <input type="time" class="transparentElement margin10px" ng-model="registerRow.AFTERNOONLUNCH_TIME"/></br>
                          Afternoon lunch glicemic value</br>
                          <input type="number" class="transparentElement margin10px" ng-model="registerRow.AFTERNOONLUNCH_VALUE"/></br>
                          <button class="btn btn-block btn-success noFocus" ng-click="updateAfternoon(registerRow)">Update values</button>
                        </div>
                        <hr>
                        <div>
                          Dinner time</br>
                          <input type="time" class="transparentElement margin10px" ng-model="registerRow.DINNER_TIME"/></br>
                          Dinner glicemic value</br>
                          <input type="number" class="transparentElement margin10px" ng-model="registerRow.DINNER_VALUE"/></br>
                          <button class="btn btn-block btn-success noFocus" ng-click="updateDinner(registerRow)">Update values</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>
