.centralizedElement{
    margin-top:20%;
    margin-bottom:45%;
}

.margin10px{
    margin-top:10px;
    margin-bottom:10px;
}
 .fr{
   -webkit-transform: translateZ(0);
 }

.margin3p{
    margin-top:3%;
}

.transparentElement{
    border: 0;
    height:17px;
    width: calc(100% - 2px);
    margin-left:1px;
    background-color: transparent;
    -webkit-appearance: none;
    box-shadow: -8px 10px 0px -7px #969393, 8px 10px 0px -7px #969393;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.noFocus:focus{
    outline: none;
}

.transparentElement:focus {
    outline: none;
    box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}

.navbar-default .navbar-toggle:focus{
    background-color: transparent;
}
