.margin10px{
    margin-top:10px;
    margin-bottom:10px;
}

.marginleft7p{
  margin-left: 7%;
}

body {
  padding-top: 30%;
}

.glyphicon.glyphicon-question-sign {
    font-size: 26px;
}

.fr{
 -webkit-transform: translateZ(0);
}

.width33p{
  width: 33.3%;
}

.margin4p{
    margin-top:4%;
}

.transparentElement{
    border: 0;
    height:17px;
    width: calc(100% - 2px);
    margin-left:1px;
    background-color: transparent;
    -webkit-appearance: none;
    box-shadow: -8px 10px 0px -7px #969393, 8px 10px 0px -7px #969393;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.noFocus:focus{
    outline: none;
}

.transparentElement:focus {
    outline: none;
    box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}

.navbar-default .navbar-toggle:focus{
    background-color: transparent;
}
